Connected Services/WSAPI_UserGroupWS/UserGroupWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="uStoreWSAPI" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="uStoreWSAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="uStoreWSAPI">
      <s:element name="GetUserGroupList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupListResult" type="tns:ArrayOfUserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserGroup" nillable="true" type="tns:UserGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserGroup">
        <s:complexContent mixed="false">
          <s:extension base="tns:ReturnObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserGroupID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ParentGroupId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAnonymous" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ReturnObject" abstract="true" />
      <s:element name="GetUserGroupListForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupListForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupListForUserResult" type="tns:ArrayOfUserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserGroupResult" type="tns:UserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserListByGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserListByGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserListByGroupResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:complexContent mixed="false">
          <s:extension base="tns:ReturnObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedLoginSessionID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ModifiedLoginSessionID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="StatusID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ExternalID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MobileNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FaxNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JobTitle" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActivated" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLocked" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AssignedToStoreID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="GenderID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BirthDay" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Custom1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Custom2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Custom3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Custom4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Custom5" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddUserToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveUserFromGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userGroupId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUserFromGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfUserGroup" nillable="true" type="tns:ArrayOfUserGroup" />
      <s:element name="UserGroup" nillable="true" type="tns:UserGroup" />
      <s:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserGroupListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroupList" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroupListForUser" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupListForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserGroup" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserListByGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserListByGroup" />
  </wsdl:message>
  <wsdl:message name="GetUserListByGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserListByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToGroup" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUserFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserGroup" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListForUserHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupListForUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserGroup" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="userGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:UserGroup" />
  </wsdl:message>
  <wsdl:message name="GetUserListByGroupHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="userGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserListByGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUser" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="userGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupHttpGetOut" />
  <wsdl:message name="RemoveUserFromGroupHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="userId" type="s:string" />
    <wsdl:part name="userGroupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoveUserFromGroupHttpGetOut" />
  <wsdl:portType name="UserGroupWSSoap">
    <wsdl:operation name="GetUserGroupList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an array containing the data of all the User Groups.</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupListSoapIn" />
      <wsdl:output message="tns:GetUserGroupListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupListForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an array containing the data of all the user groups which the given user is a member of.</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupListForUserSoapIn" />
      <wsdl:output message="tns:GetUserGroupListForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the data of the given User Group.</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupSoapIn" />
      <wsdl:output message="tns:GetUserGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListByGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an array containing the users that are members of the given User Group.</wsdl:documentation>
      <wsdl:input message="tns:GetUserListByGroupSoapIn" />
      <wsdl:output message="tns:GetUserListByGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds the given User to the given Group. This User will inherit the Group's permissions.</wsdl:documentation>
      <wsdl:input message="tns:AddUserToGroupSoapIn" />
      <wsdl:output message="tns:AddUserToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes the given User from the given Group. This may cause the user to lose some permissions.</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserFromGroupSoapIn" />
      <wsdl:output message="tns:RemoveUserFromGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserGroupWSHttpGet">
    <wsdl:operation name="GetUserGroupList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an array containing the data of all the User Groups.</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupListHttpGetIn" />
      <wsdl:output message="tns:GetUserGroupListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupListForUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an array containing the data of all the user groups which the given user is a member of.</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupListForUserHttpGetIn" />
      <wsdl:output message="tns:GetUserGroupListForUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the data of the given User Group.</wsdl:documentation>
      <wsdl:input message="tns:GetUserGroupHttpGetIn" />
      <wsdl:output message="tns:GetUserGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListByGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an array containing the users that are members of the given User Group.</wsdl:documentation>
      <wsdl:input message="tns:GetUserListByGroupHttpGetIn" />
      <wsdl:output message="tns:GetUserListByGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds the given User to the given Group. This User will inherit the Group's permissions.</wsdl:documentation>
      <wsdl:input message="tns:AddUserToGroupHttpGetIn" />
      <wsdl:output message="tns:AddUserToGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes the given User from the given Group. This may cause the user to lose some permissions.</wsdl:documentation>
      <wsdl:input message="tns:RemoveUserFromGroupHttpGetIn" />
      <wsdl:output message="tns:RemoveUserFromGroupHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserGroupWSSoap" type="tns:UserGroupWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserGroupList">
      <soap:operation soapAction="uStoreWSAPI/GetUserGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupListForUser">
      <soap:operation soapAction="uStoreWSAPI/GetUserGroupListForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <soap:operation soapAction="uStoreWSAPI/GetUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListByGroup">
      <soap:operation soapAction="uStoreWSAPI/GetUserListByGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap:operation soapAction="uStoreWSAPI/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <soap:operation soapAction="uStoreWSAPI/RemoveUserFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserGroupWSSoap12" type="tns:UserGroupWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserGroupList">
      <soap12:operation soapAction="uStoreWSAPI/GetUserGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupListForUser">
      <soap12:operation soapAction="uStoreWSAPI/GetUserGroupListForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <soap12:operation soapAction="uStoreWSAPI/GetUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListByGroup">
      <soap12:operation soapAction="uStoreWSAPI/GetUserListByGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap12:operation soapAction="uStoreWSAPI/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <soap12:operation soapAction="uStoreWSAPI/RemoveUserFromGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserGroupWSHttpGet" type="tns:UserGroupWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetUserGroupList">
      <http:operation location="/GetUserGroupList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroupListForUser">
      <http:operation location="/GetUserGroupListForUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroup">
      <http:operation location="/GetUserGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListByGroup">
      <http:operation location="/GetUserListByGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <http:operation location="/AddUserToGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromGroup">
      <http:operation location="/RemoveUserFromGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserGroupWS">
    <wsdl:port name="UserGroupWSSoap" binding="tns:UserGroupWSSoap">
      <soap:address location="http://192.168.147.100/uStoreWSAPI/UserGroupWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UserGroupWSSoap12" binding="tns:UserGroupWSSoap12">
      <soap12:address location="http://192.168.147.100/uStoreWSAPI/UserGroupWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UserGroupWSHttpGet" binding="tns:UserGroupWSHttpGet">
      <http:address location="http://192.168.147.100/uStoreWSAPI/UserGroupWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>